<nav class="navbar navbar-expand-lg navbar-light">
    <h4>PiAndAll</h4>

    <div class="container-fluid justify-content-md-end">

        <a class="btn btn-warning m-3" href="/parentprofile">Home</a>


    </div>

</nav>

<br><br><br><br><br>

<div class="container text-center">

    <h1>Goal added Successfully!!</h1>
    <a href="/parentprofile/showstudent" class="text-center"><button class="btn btn-primary mt-5"
            style="padding: 2rem;">Go back</button></a>


</div>