<nav class="navbar navbar-expand-lg navbar-light">
    <h4>PiAndAll</h4>

    <div class="container-fluid justify-content-md-end">

        <a class="btn btn-warning" href="/">Home</a>

    </div>

</nav>

<br><br><br><br><br>
<div class="container mt-4">
    <h1 class="text-center">Create Login</h1>

    <a href="/parentregister"> <button style="margin-top: 10vh;" type="button" class="btn btn-primary mt-4">Parent
            Register</button></a>
    <a href="/teacherregister"><button style="margin-left: 65vw;" type="button" class="btn btn-success mt-4">Teacher
            Register</button></a>
</div>